
body{
    background-color: #FAFAFA;
}
h1 {
    background-size: 225px;
    color: darkgrey;
    text-transform: uppercase;
    text-align: center;
    font: 50px Berlin Sans FB, sans-serif;
    padding-bottom: 12px;
    text-shadow: 2px 2px 2px black;
    background-image: url("https://unioviedo-my.sharepoint.com/personal/uo251626_uniovi_es/_layouts/15/guestaccess.aspx?docid=06dcf1084436041d8a802efa2860b679a&authkey=ARhj3gXDx4ivH_eS6f5JNLo&e=483fc7b4515c490cada740717cfccaf7");
}

footer{
  margin-top: 30px;
  padding: 10px;
  background-color: #464C4C;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 20px;
  background-image: url("https://unioviedo-my.sharepoint.com/personal/uo251626_uniovi_es/_layouts/15/guestaccess.aspx?docid=06dcf1084436041d8a802efa2860b679a&authkey=ARhj3gXDx4ivH_eS6f5JNLo&e=483fc7b4515c490cada740717cfccaf7");
}

h2{
    background-size: 225px;
    color: darkgrey;
    text-transform: uppercase;
    text-align: center;
    font: 30px Arial, sans-serif;
    text-shadow: 3px 0px 18px #0099E2;
}

ul,li{
    font: 23px Arial, sans-serif;
}


p{
  font: 17px Arial, sans-serif;
  color: gray;
  padding-left: 10px;
}
